[submodule "set1"]
	path = set1
	url = https://github.com/InFinity54/LoR_DDragon_Set1
[submodule "set2"]
	path = set2
	url = https://github.com/InFinity54/LoR_DDragon_Set2
[submodule "set3"]
	path = set3
	url = https://github.com/InFinity54/LoR_DDragon_Set3
[submodule "set4"]
	path = set4
	url = https://github.com/InFinity54/LoR_DDragon_Set4
[submodule "set5"]
	path = set5
	url = https://github.com/InFinity54/LoR_DDragon_Set5
[submodule "set6"]
	path = set6
	url = https://github.com/InFinity54/LoR_DDragon_Set6
[submodule "set6cde"]
	path = set6cde
	url = https://github.com/InFinity54/LoR_DDragon_Set6CDE
[submodule "set7"]
	path = set7
	url = https://github.com/InFinity54/LoR_DDragon_Set7.git
[submodule "set7b"]
	path = set7b
	url = https://github.com/InFinity54/LoR_DDragon_Set7B.git
[submodule "set8"]
	path = set8
	url = https://github.com/InFinity54/LoR_DDragon_Set8
[submodule "adventure"]
	path = adventure
	url = https://github.com/InFinity54/LoR_DDragon_Adventure.git
[submodule "set9"]
	path = set9
	url = https://github.com/InFinity54/LoR_DDragon_Set9.git
